################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ReminderMasivo2Proveedor1Envio1/v15/Server/sqlite3
